<h1>MENU</h1>
<h2>BEHIND THE SCENES</h2>
<p>At Fred's, our menu is carefully curated based on what we enjoy the most when visiting a coffee bar.</p>
<p>We believe that good coffee is all about personality, so we've added our own creative twists to classic drinks - from signature matchas to flavorful lattes.</p>
    
<p>Whether you're in the mood for something sweet like a fresh pastry, or something savory to keep you going, we've got a little bit of everything.</p>
<p>It's all made with love - and with a focus on flavor, quality, and a cozy vibe you won't find anywhere else.</p>

<h3>Available on June 1st!</h3>
<p>In collaboration with Emmely Moraitis, we've created a Pistachio Matcha - a fun and fresh new way to enjoy your matcha.</p>
<p>This unique blend brings together the earthy depth of matcha with the smooth, nutty flavor of pistachio - a combination we're pretty excited about!</p>

<h2>ABOUT OUR MENU</h2>
<p>As a newly opened coffee bar, we handle all daily shopping ourselves.</p>
<p>Every morning, we head to Inco to buy what we need for the day.We aim to choose organic products whenever possible, and our chicken is halal.</p>
<p>At Fred's, it's important to us that everyone feels welcome!</p>