---

---

<footer>
     <div class="footer">
        <div class="left_footer">
        <h3>Opening Hours:</h3>
        <p>Mon-Fri: 10am-6pm</p>
        <p>Saturday: 10am-4pm</p>
        <p>Sunday: 11am-4pm</p>
        <h3>Address:</h3>
        <p>Farvergade 2, Copenhagen 1463</p>
    </div>
    <div class="center_footer">
        <h3>Check out our Social Media Channels</h3>
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div class="right_footer">
        <h3>For bookings at Studio 27 and Freddie'o:</h3>
        <p>Studio 27: </p>
        <p>Freddie'o:</p>
    </div>
    </div>
</footer>

<style>
.footer{
    background-color:rgba(189, 204, 165, 1) ;
    text-align: center;
    padding: 20px;
}
 @media screen and (min-width: 750px) { 
    .footer{
        display: flex; /* Optager 1 del af pladsen */
    }
    .left_footer{
        flex: 1; /* Optager 1 del af pladsen */
        text-align: left;
    }
    .center_footer{
        flex: 1; /* Optager 1 del af pladsen */
        text-align: center;
    }
    .right_footer{
        flex: 1; /* Optager 1 del af pladsen */
        text-align: right;
    }
 }

    
</style>