---
import insta_footer from '../assets/insta_footer.png';
import tiktok_footer from '../assets/tiktok_footer.png';
---

<footer>
     <div class="footer">
        <div class="left_footer">
        <h4>Opening Hours:</h4>
        <p>Mon-Fri: 10am-6pm</p>
        <p>Saturday: 10am-4pm</p>
        <p>Sunday: 11am-4pm</p>
        <h4>Address:</h4>
        <p>Farvergade 2, Copenhagen 1463</p>
    </div>
   <div class="center_footer">
    <h4>Check out our social media Channels!</h4>
    <a href="https://www.instagram.com/fredscph/">
        <img class="insta_footer" src={insta_footer.src} alt="Instagram footer">
    </a>
    <a href="https://www.tiktok.com/@freds.cph">
        <img class="tiktok_footer" src={tiktok_footer.src} alt="TikTok footer">
    </a>
</div>
    <div class="right_footer">
        <h4>For bookings at Studio 27 and Freddie'o:</h4>
       <p> <a href="https://josefinejensen.planway.com/" class="studio27_link">Studio 27</a></p>
       <p> <a href="https://freddieohair-26975.planway.com/" class="freddieo_link">Freddie'o</a></p>
    </div>
    </div>
</footer>

<style>
.footer{
    line-height: 2.5;
    background-color:rgba(189, 204, 165, 1) ;
    text-align: center;
    padding: 20px;
    margin-top: 90px;
}
.insta_footer{
    width: 35px;
    height: auto;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}
.tiktok_footer{
    width: 30px;
    height: auto;
    text-align: center;
    cursor: pointer;
  
}
.studio27_link, .freddieo_link{
    color:black;            
    text-decoration: underline; 
}
.left_footer, .center_footer, .right_footer{
   padding: 20px;
}
h4{
    font-size:larger;
}
.center_footer a {
    text-decoration: none;
}

 @media screen and (min-width: 900px) { 
    .footer{
        display: flex; /* Optager 1 del af pladsen */
        line-height: 2.5;
    }
    .left_footer{
        flex: 1; /* Optager 1 del af pladsen */
        text-align: left;
    }
    .center_footer{
        flex: 1; /* Optager 1 del af pladsen */
        text-align: center;
        margin-left: 165px;
    }
    .right_footer {
       flex: 1;
       text-align: left;
       margin-left: 165px;
}
    .insta_footer{
        width: 45px;
        height: auto;
        padding-top: 30px;
    }
    .tiktok_footer{
        width: 40px;
        height: auto;
        padding-top: 30px;
    }
}

</style>