---


---

<header>
    <div class="bruger">
        <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="logo"> <img src="/logo.svg"  alt="fred's logo"></div>

    <nav>
        <ul>
			<li><a href="/">Forside</a></li>
			<li><a href="/menu">Menu</a></li>
			<li><a href="/om_freds">Om Fred's</a></li>
			<li><a href="/fordele">Fordele</a></li>
		</ul>
    </nav>
    </div>
</header>