/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* billeder bliver sat til max-width 100% */

img {
  max-width: 100%;
}

body {
  max-width: 1200px;
}

html {
  --grøn: rgba(189, 204, 165, 1);
  --lyserød: rgba(250, 113, 156, 1);
  --beige: rgba(247, 241, 230, 1);
  --sort: rgba(0, 0, 0, 1);
  --hvid: rgba(255, 254, 254, 1);
}
h1 {
  font-family: "Judson";
  font-size: 40px;
}

h2 {
  font-family: "Abhaya Libre";
  font-size: 24px;
}

h3 {
  font-family: "Abhaya Libre";
  font-size: 20px;
}
h4 {
  font-family: "Abhaya Libre";
  font-size: 18px;
}
p {
  font-family: "Abhaya Libre";
  font-size: 16px;
}

button {
  font-family: "Abhaya Libre";
  font-size: 18px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
}
